.cart-page{
    display: flex;
    padding-top: 13rem;
}
.cart-container{
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    width: fit-content;
}
.cart-product-container{
    padding: 3rem;
    box-shadow: 0 5px 15px rgba(90,90,90,.35); 
}
.cart-contents{
    display: flex;
    width: 50%;
}
.cart-product-image{
    padding: 0;
    border-radius: 2px;
    display: inline-block;
    width: 300px;
    height: 300px;

}
.cart-product-name{
    padding: 0.3rem;
    padding-right: 1rem;
    font-weight: bold;
}
.cart-product-quantity{
    margin-top: 1rem;
    display: flex;
    gap: 0.3rem;
}
.cart-product-qty{
    outline: none;
    padding: 5px 10px;
    text-align: center;
    border-radius: 2px;
    background-color: var(--white);
    border: 1px solid var(--lightGrey);
    margin: 0 5px;
}
.cart-qty-btn{
    color: var(--black);
    outline: 1px solid var(--lightGrey);
    border-radius: 50%;
    padding: 5px 10px;
    background-color: var(--white);
}
.cart-product-price{
    display: flex;
    gap:1rem;
    margin-top: 0.5rem;
    font-weight:600px ;
    font-size: 1.1rem;
    padding: 0rem;
    padding-left: 0.5rem;
    font-family: "Mier demi";
   
}
.cart-product-discount-price{
    font-weight: bolder;
}
.cart-product-original-price{
    color: #a2a2a2;
    text-decoration: line-through;
}
.cart-product-dis-percentage{
    color:green;
}
.cart-product-details{
    padding: 1rem;
    width: fit-content;
}
.cart-button{
    display: flex;
    gap: 5rem;
    align-items: center ;
}
.cart-primary-button{
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bolder;
    font-size: large;
    border: 0;
    width: fit-content;
}
.CheckOut-Container{
    box-shadow: 0 5px 15px rgba(90,90,90,.35);   
    width: 300px;
    margin: 1rem;
    padding: 0.5rem;
    height: 650px;
}

.cart-primary-button:hover{
    background-color: var(--primary-color);
    color: aliceblue;
}
