.Auth-Container{
    display: flex;
    flex-direction: column;
}
.SignUp-Container{
    margin: 5rem;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
    padding: 2rem;
    grid-gap: 2rem;
    box-shadow:  0 7px 29px 0 rgba(100,100,111,.2);
}
.auth-title{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    text-align: center;
}
.auth-main{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
   
}
.auth-firstname {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    
}
.auth-lastname{
    display: flex;
    gap:0.5rem;
    flex-direction: column;
}
.auth-email{
    display: flex;
    flex-direction: column;
    gap:0.5rem;

}
.auth-password{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.SighUp-primary-button{
    background-color:var(--primary-color);
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: white;
    border: 0;
    cursor: pointer;
    font-weight: bolder;
    width: 100%;
}