.Auth-Container{
    justify-content: center;
    align-items: center;
    padding-top:3rem;
    margin-top:3rem;
}
.Login-Container{
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    padding: 24px;
    padding-top: 3rem;
    border-radius: 10px;
    margin: 5rem;
    display: flex;
    width:25rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.auth-main{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    gap: 1rem;    
    width: 80%; 
}
.auth-input{
    border: 1px solid var(--primary-color);
    padding: 1rem;
    width: 100%;
    border-radius: 7px;
}
.auth-buttons{
    padding: 1rem;
    display: flex;
    gap: 2rem;
    
}
.primary-button{
    background-color:var(--primary-color);
    padding: 0.7rem;
    border-radius: 0.5rem;
    color: white;
    border: 0;
    cursor: pointer;
    font-weight: bolder;
    width: 70%;
}
