 

.order-title{
    padding-top: 7rem;
    text-align: center;
}
.ordered-items{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding:0.5rem ;

}
.order-items{
    

    width: 300px;
    
    box-shadow: 0 5px 15px rgba(90, 90, 90, 0.35);
}
.product-img{
    height: 200px;
    width: 200px;
}