@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.Navigation-Container{
    padding: 0.5rem;
    padding-bottom: 0rem;
    text-align: left;
    border: 1px solid;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: white;
    top:0px; 
    box-shadow: 5px 5px #8888;
    display: flex;
  }
  .nav-brand{
    text-align: center;
    padding-top: 0.9rem;
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bolder;
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
    font-family: 'Monoton', cursive;  
  }
  .nav-search{
    width: 500px;
    height: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 3px ;
    margin: 4vh;
  }
  .nav-items{
    display: flex;
    list-style: none;
    font-size: larger;
  }
  .nav-item{
    padding: 1rem;
  }
  .Link{
    text-decoration: none;
    color:var(--primary-color);
  }
  