:root{
  --primary-color :#f97316;
}
.App{
  font-family: "Mier demi";
}

@media screen and (min-width: 400px) {
  .App {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .App {
    font-size: 14px;
  }
}    

@media screen and (min-width: 1024px) {
  .App {
    font-size: 18px;
    
  }
}